h1 {
    font-weight: bold;
   }
.light {
	font-weight: lighter;
     }

.bold {
font-weight: bold;
        }
		
.img {
  width: 900px;
  height: 800px;
  border:2px solid #fff;
  background: url(image2.png) no-repeat;
  -moz-box-shadow: 10px 10px 5px #ccc;
  -webkit-box-shadow: 10px 10px 5px #ccc;
  box-shadow: 10px 10px 5px #ccc;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
}
